<div class="signupdiv">
    <h1 justify-contents="center">Signup</h1>
    <mat-card class="signupcard">
    <form [formGroup]="signupForm"
    (ngSubmit)="onSubmitSignup(signupForm)"
    #formDirective="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName='Username'>
        <mat-error class="mat-error"
              *ngIf="AllControlsForSignUp.Username.errors?.['required']&&Signupsubmitted">Username required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName='email'>
        <mat-error class="mat-error"
        *ngIf="AllControlsForSignUp.email.errors?.['required']&&Signupsubmitted" >Email required</mat-error>
        <mat-error *ngIf="AllControlsForSignUp.email.errors?.['email']&&Signupsubmitted">Invalid Email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName='password'>
        <mat-error *ngIf="AllControlsForSignUp.password.errors?.['required']&&Signupsubmitted"
        >Password required</mat-error>
      <mat-error *ngIf="AllControlsForSignUp.password.errors?.['minlength']&&Signupsubmitted"
        >Password aleast 6 characters</mat-error>
    </mat-form-field>
    <div style="text-align: center;">
        <button mat-raised-button color="primary">Register</button>
        </div>
    </form>
    <br><br>
    <h3 allign="center"> Already registered? <a routerLink="/login"> Log in</a></h3>
</mat-card>
</div>